@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-fumino: #9ce9f5;
        --color-rizu: #fbba78;
        --color-uruka: #fb9c95;
        --color-mafuyu: #f4afc4;
        --color-asumi: #c0b2ed;
    }
}